* {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    font-family: 'Anton', sans-serif;
    font-size: 17px;
    color: #DA6120;
    line-height: 1.6;
}

#showcase {
    background-image: url('../imgs/header1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 20px;
}

#showcase h1 {
    font-size: 50px;
    text-shadow: 1px 1px #000;
}

#showcase p {
    font-size: 20px;
    text-shadow: 1px 1px #000;
}

#showcase .btn {
    font-size: 18px;
    text-decoration: none;
    color: #DA6120;
    border: #DA6120 1px solid;
    padding: 10px 20px;
    border-radius: 10px;
    margin-top: 20px;
}

#showcase .btn:hover {
    background: #DA6120;
    color: white;
}

#section-a {
    padding: 20px;
    background: #DA6120;
    color: white;
    text-align: center;
}

#section-b {
    padding: 20px;
    background: #f4f4f4;
    text-align: center;
}

#section-c {
    display: flex;
}

#section-c div {
    padding: 20px;
}

#section-c .box-1, #section-c .box-3 {
    background: #DA6120;
    color: white;
}

#section-c .box-2 {
    background: #f9f9f9;
    border-top: #DA6120 1px solid;
}